<script lang="ts">

	import {storeFE} from '@/store.js';
	import {BaseObject} from "@/models/BaseObject";
	import Client from "@/client";
	import {UUID} from 'uuid-generator-ts';
	import {tick} from "svelte";
	import {tr} from "@/helper";

	export let item: BaseObject;
	export let mode: string = 'edit';
	export let callback;
	export let id = tick();
	export let viewmode = 'singlecol'

	function getproperties(item: BaseObject)
	{

		let properties = item.getProperties();
		let keys: string[] = Object.keys(properties).filter(function (key)
		{
			let include = !key.match(/(tstamp_created|tstamp_modified|tstamp_deleted|userid_created|userid_modified|userid_deleted)/g);

			// TODO:
			if ( properties[key].is_autoincrement )
			{
				include = false;
			}

			return include
		});

		let resultArray = keys.map(function (keyname)
		{
			properties[keyname].keyname = keyname;

			properties[keyname].inputtype = 'text';
			if (properties[keyname].typename.match(/(INTEGER|FLOAT|DOUBLE|DECIMAL)/g))
			{
				properties[keyname].inputtype = 'number';
			}
			if (properties[keyname].typename.match(/(TIMESTAMP|DATETIME)/g))
			{
				properties[keyname].inputtype = 'datetime';
			}
			if (properties[keyname].typename.match(/DATE/g))
			{
				properties[keyname].inputtype = 'date';
			}

			return properties[keyname];
		});

		return resultArray;
	}

	async function saveForm(event)
	{
		event.preventDefault();

		console.log("save form", event)
		const formData = new FormData(form)

		for (let field of formData)
		{
			let [key, value] = field

			const property = item.getProperty(key);

			// skip password unchanged
			if( key == 'password' && value === '****' )
				value = "";

			if( value == '' && ( property.is_nullable || property.reference ) )
				value = null;

			item.setAttribute(key, value);
		}

		// @ts-ignore
		const response = await item.store();
		console.log("response", response)
		if( !response || item.getUid() == 0 )
			return false;

		//$storeFE.get(item.constructor.name).set(item.getUid(), item)
		//$storeFE = $storeFE

		if (callback)
		{
			callback();
		}

		return false;
	}

	let form;

</script>

<form bind:this={form} on:submit={(e) => saveForm(e)}>
	{#each getproperties(item) as property, i }
		<div class="form-floating mb-3" title="{property.keyname}" id="form_{property.keyname}">

			{#if (property.keyname === 'email') }
				<input
						id="property_{property.keyname}"
						class="form-control"
						labelText="{tr(property.keyname)}"
						type="email"
						name="{property.keyname}"
						value="{item.getAttribute(property.keyname)}"
						required={!property.is_nullable}
						tabindex="{i+1}"
				/>

			{:else if (property.inputtype === 'text') }
				<input
						id="property_{property.keyname}"
						class="form-control"
						labelText="{tr(property.keyname)}"
						type="{property.inputtype}"
						name="{property.keyname}"
						value="{item.getAttribute(property.keyname)}"
						required={!property.is_nullable}
						tabindex="{i+1}"
				/>

				{#if property.is_primarykey && property.typename === 'BINARY' }
					<button class="btn btn-outline-secondary" on:click={(e) => { document.getElementById("property_" + property.keyname).value = new UUID() }}>
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-123" viewBox="0 0 16 16">
							<path d="M2.873 11.297V4.142H1.699L0 5.379v1.137l1.64-1.18h.06v5.961zm3.213-5.09v-.063c0-.618.44-1.169 1.196-1.169.676 0 1.174.44 1.174 1.106 0 .624-.42 1.101-.807 1.526L4.99 10.553v.744h4.78v-.99H6.643v-.069L8.41 8.252c.65-.724 1.237-1.332 1.237-2.27C9.646 4.849 8.723 4 7.308 4c-1.573 0-2.36 1.064-2.36 2.15v.057zm6.559 1.883h.786c.823 0 1.374.481 1.379 1.179.01.707-.55 1.216-1.421 1.21-.77-.005-1.326-.419-1.379-.953h-1.095c.042 1.053.938 1.918 2.464 1.918 1.478 0 2.642-.839 2.62-2.144-.02-1.143-.922-1.651-1.551-1.714v-.063c.535-.09 1.347-.66 1.326-1.678-.026-1.053-.933-1.855-2.359-1.845-1.5.005-2.317.88-2.348 1.898h1.116c.032-.498.498-.944 1.206-.944.703 0 1.206.435 1.206 1.07.005.64-.504 1.106-1.2 1.106h-.75z"/>
						</svg>
					</button>
				{/if}

			{:else if (property.inputtype === 'number') }
				<input id="property_{property.keyname}"
				       class="form-control"
				       labelText="{tr(property.keyname)}"
				       type="number"
				       name="{property.keyname}"
				       label="{property.keyname}"
				       value="{item.getAttribute(property.keyname)}"
				       required={!property.is_nullable}
				       tabindex="{i+1}"
				/>

			{:else if (property.inputtype === 'date' || property.inputtype === 'datetime') }
				<input id="property_{property.keyname}"
				       class="form-control"
				       labelText="{tr(property.keyname)}"
				       type="{property.inputtype}"
				       name="{property.keyname}"
				       value="{item.getAttribute(property.keyname)}"
				       required={!property.is_nullable}
				       tabindex="{i+1}"
				/>
			{/if}

			<label for="property_{property.keyname}">{property.keyname}</label>
		</div>
	{/each}

	<button type="submit" class="btn btn-primary">
		Save
	</button>
</form>