<!-- App.svelte -->
<script lang="ts">

	import "./App.scss"

	import {Router, Route, navigate} from "svelte-routing";

	// Auth Layout
	import Client from "@/client";
	import Store from "@/components/Store.svelte";
	import Main from "@/layouts/Main.svelte";
	import {onMount} from "svelte";
	import Loader from "@/components/Loader.svelte";
	import Auth from "@/layouts/Auth.svelte";

	export const url = "";

	let is_loading = false;
	let is_auth = Client.isAuth()

	onMount(async function()
	{
		if ( Client.isAuth() )
			is_loading = true;

		console.log(":: IS AUTH", Client.isAuth())
	});
</script>

<Router url="{url}" primary={false}>

	<Route>
		{#if is_auth }
			<Store bind:is_loading />

			{#if !is_loading}
				<Main></Main>
			{/if}

		{:else }
			<Auth bind:is_auth />
		{/if}

		<Loader hidden={!is_loading}></Loader>

	</Route>

</Router>