<script lang="ts">
	import { Router, Route } from "svelte-routing";

	// pages for this layout
	import Login from "@/views/auth/Login.svelte";

	export let is_auth: boolean = true
</script>

<div>
	<main>
		<section class="relative w-full h-full py-40 min-h-screen">

			<Login bind:is_auth />

		</section>
	</main>
</div>