<script lang="ts">

	import Header from "@/components/Header.svelte";
	import {storeFE} from "@/store";
	import ItemForm from "@/components/ItemForm.svelte";
	import {Project} from "@/models/Project/Project";

</script>

<div class="position-relative">

	<Header />

	<main class="container-xxl pt-5" id="inner" style="min-height: calc(100vh - 60px)">
		<div class="h-100 pt-5 pb-5">
			<h2>Projekte ({$storeFE.get('Project').size})</h2>
			{#each [...$storeFE.get('Project').values()] as item }
			<div class="card">
				<div class="card-header">
					<h3>
						[{item.getUid()}] {item.getDefaultname()}
						<button class="float-end btn btn-danger btn-sm" on:click|preventDefault={() => { if( confirm('Delete?') ) item.delete(true) }}>
							x
						</button>
					</h3>
				</div>
				<div class="card-body">
					<ItemForm item={item} callback={() => {}}></ItemForm>
				</div>
			</div>
			{/each}
		</div>

		<h4>Neues Project</h4>
		<ItemForm item={new Project()} callback={() => {}}></ItemForm>
	</main>

	<footer>
	</footer>
</div>