<script lang="ts">

	import { navigate } from "svelte-routing";
	import Client from "@/client";
	import {auth} from "@/store";

	export let is_auth: boolean = true

	async function doAuth(form)
	{
		const formdata = new FormData(form)
		await Client.request("auth", "POST", Object.fromEntries(formdata), {}, (response) =>
		{
			Client.doAuth(response)
			$auth = true;
			is_auth = Client.isAuth();
		});

		return false;
	}
</script>

<div class="w-100 bg-light" id="login">

	<section class="container form-signin w-100 m-auto text-center vh-100 d-flex align-items-center flex-column">

		<h1>Enduron Demo Project</h1>

		<form method="post" class="col-12 col-md-6 col-xl-4" on:submit={(e) => {
            e.preventDefault();
            doAuth(e.currentTarget);
        }}>

			<br /><br /><br />

			<div class="form-floating mb-3">
				<input name="email" type="email" class="form-control" id="floatingInput" placeholder="demo@demo.de" value="demo@demo.de">
				<label for="floatingInput">Email address</label>
			</div>

			<div class="form-floating">
				<input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" value="12345">
				<label for="floatingPassword">Password</label>
			</div>

			<button class="w-100 btn btn-primary btn-lg mt-4" type="submit">Sign in</button>

			<p class="mt-5 mb-3 text-muted">&copy; Enduron Framework</p>
		</form>
	</section>
</div>